<div class="container-fluid  d-flex flex-column justify-content-center" style="height: 100px;">

    
    <div class="row " >
        <form class="d-flex flex-row nosubmit justify-content-around">
            <input class="w-50  opacity-25 nosubmit" type="search" placeholder="Search...">
            <button class="btn btn-primary py-2"><span class="material-symbols-outlined verticle-align-middle">
                account_circle
                </span>Alex</button>
          </form>
    </div>
</div>