<table class="table  ">
    <thead class="  rounded-3  text-secondary  " style="background-color: rgba(248,64,114,0.1) !important;">
      <tr class="rounded-3 p-2 ">
        <th *ngFor="let col of column" class=" text-secondary fw-normal fs-5 p-4 " scope="col">{{col}}</th>
        <th  class=" text-secondary fw-normal fs-5 p-4 " scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of users; let i = index" >
        
        <!-- <td  class="p-4">{{user[column[i]]}}</td>
        <td class="p-4">{{user[column[i+1]]}}</td>
        <td class="p-4">{{user[column[i]]}}</td>
        <td class="p-4">{{user[column[i]]}}</td> -->
        <td *ngFor="let col of column" class="p-4">{{user[col]}}</td>
 
        <td><span [routerLink]="['profile/',user.id]" class="material-symbols-outlined p-4 text-primary">
            visibility
            </span></td>
      </tr>
    </tbody>
  </table>