<div class="container h-100 w-100 bg-white pt-5" >
  <div class="row">
    <div class="col-12 d-flex flex-row">
      <img src="../../../assets//logo.png" width="61px" height="48px" alt="" />
      <span class="fs-5 fw-bolder ps-2 d-none d-md-inline" style="font-size: 32px !important">Just
        Pet</span>
    </div>
    <ul class="d-flex flex-column gap-2 pt-5">
      <li
        
        class=" p-4 rounded-4 "
        routerLinkActive="sidebar-active"
        routerLink="/home/users"
        >
        <span class="material-symbols-outlined verticle-align-middle text-secondary">
          person </span><a
          routerLinkActive="sidebar-active"
          
          class=" d-none d-md-inline ms-4 text-decoration-none text-secondary">Users</a>
      </li>
      <li routerLink="vet" class="p-4 rounded-4" routerLinkActive="sidebar-active">
        <span class="material-symbols-outlined verticle-align-middle">
          manage_accounts </span><a
         
          class="  d-none d-md-inline  vertcle-align-middle fw-bold ms-4 text-decoration-none text-secondary">Vet</a>
      </li>
      <li routerLink="order" class="p-4 rounded-4" routerLinkActive="sidebar-active">
        <span class="material-symbols-outlined verticle-align-middle">
          book
        </span>
        <a  class="  d-none d-md-inline  fw-bold ms-4 text-decoration-none text-secondary">Order</a>
      </li>
      <li routerLink="appointment" class="p-4 rounded-4" routerLinkActive="sidebar-active">
        <span class="material-symbols-outlined verticle-align-middle">
          event_available
        </span>
        <a  class=" d-none d-md-inline  fw-bold ms-4 text-decoration-none text-secondary">Appointment</a>
      </li>
      <li routerLink="product" class="p-4 rounded-4" routerLinkActive="sidebar-active">
        <span class="material-symbols-outlined verticle-align-middle">
          inventory_2
        </span>
        <a  class=" d-none d-md-inline fw-bold ms-4 text-decoration-none text-secondary">Product</a>
      </li>
      <li routerLink="blog" class="p-4 rounded-4" routerLinkActive="sidebar-active">
        <span class="material-symbols-outlined verticle-align-middle">
          chat
        </span>
        <a  class=" d-none d-md-inline fw-bold ms-4 text-decoration-none text-secondary">Blog</a>
      </li>
      <li routerLink="master" class="p-4 rounded-4" routerLinkActive="sidebar-active">
        <span class="material-symbols-outlined verticle-align-middle">
          settings
        </span>
        <a  class=" d-none d-md-inline fw-bold ms-4 text-decoration-none text-secondary">Master</a>
      </li>
    </ul>
  </div>
</div>
